* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 70px;
  display: flex;
  padding: 17px 40px;
  box-shadow: 0px 3px 7.4564px rgba(0, 0, 0, 0.1);
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 10px;
  font-family: Poppins, sans-serif;
}

.hero--photo {
  max-width: 1000px;
  align-self: center;
}

.hero--title {
  font-weight: 600;
  font-size: 46px;
  margin-bottom: 0px;
  margin-left: 76px;
}

.hero--text {
  margin-left: 76px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 26px;
  width: 420px;
  line-height: 110%;
}

.card {
  margin-top: 50px;
  margin-left: 100px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
}

.card > img {
  width: 300px;
}

.card--image {
  margin-left: 5px;
}

.reviews {
  display: flex;
}

.card--star {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.reviews > p {
  margin: 0;
}

.card--title {
  font-size: 18px;
  margin-bottom: 0px;
}

.card--price {
  margin-top: 6px;
  font-size: 14px;
}

.card-container {
  display: flex;
  justify-content: center;
}

/*Safari Browser Design */

.safari-container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.safari--header {
  height: 52px;
  background-color: #363636;
  padding-left: 11px;
  display: flex;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid black;
}

.safari--buttons {
  display: flex;
  width: 52px;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.safari--buttons > img {
  width: 12px;
  height: 12px;
}

.safari--nav {
  width: 98px;
  height: 24px;
  margin-left: 24px;
  margin-top: 14px;
}

.safari--domain {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro";
  font-size: 14px;
  width: 373px;
  height: 28px;
  margin-left: 150px;
  margin-top: 15px;
  color: white;
  background-image: url("./images/safari/url-background.png");
  background-repeat: no-repeat;
  border-radius: 5px;
}

.safari--refresh {
  position: relative;
  left: 103px;
}

.safari--corner {
  width: 96px;
  height: 24px;
  display: flex;
  justify-content: center;
  margin-top: 13px;
  margin-left: 145px;
  gap: 5px;
}

.safari--body {
  background-color: #363636;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.safari--hero {
  height: 530px;
  width: 900px;
  align-self: center;
  justify-self: center;
  background-image: url(./images/safari/vacation-home.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 80%;
}

.safari--airlogo {
  margin-top: 13px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 25px;
  width: 83px;
}

.safari-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.buttons {
  padding: 9px 13px 9px 11px;
  width: 115px;
  height: 34px;
  background: #ff5a5f;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  border: none;
  font-size: 12px;
  margin-bottom: 10px;
}
