* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  height: 70px;
  display: flex;
  padding: 17px 40px;
  box-shadow: 0px 3px 7.4564px rgba(0, 0, 0, 0.1);
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 10px;
  font-family: Poppins, sans-serif;
}

.hero--photo {
  max-width: 1000px;
  align-self: center;
}

.hero--title {
  font-weight: 600;
  font-size: 46px;
  margin-bottom: 0px;
  margin-left: 76px;
}

.hero--text {
  margin-left: 76px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 26px;
  width: 420px;
  line-height: 110%;
}

.card {
  margin-top: 50px;
  margin-left: 100px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
}

.card > img {
  width: 300px;
}

.card--image {
  margin-left: 5px;
}

.reviews {
  display: flex;
}

.card--star {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.reviews > p {
  margin: 0;
}

.card--title {
  font-size: 18px;
  margin-bottom: 0px;
}

.card--price {
  margin-top: 6px;
  font-size: 14px;
}

.card-container {
  display: flex;
}

.safari-container {
  width: 800px; 
}

.safari--header {
  height: 52px;
  background-color: #363636;
}